<f:layout name="Backend"/>

<f:section name="content">
    <h1><f:translate key="LLL:EXT:escort_login/Resources/Private/Language/locallang.xlf:module.account"/></h1>
    <p><f:translate key="LLL:EXT:escort_login/Resources/Private/Language/locallang.xlf:module.account.intro"/></p>

    <f:flashMessages/>

    <form action="{f:uri.action(action:'save')}" class="form-horizontal" id="escortLoginEditForm" method="post">
        <input type="hidden" name="tx_escortlogin_web_escortloginescortlogin[uid]" value="{account.uid}"/>
        <h3><f:translate key="LLL:EXT:escort_login/Resources/Private/Language/locallang.xlf:module.account.edit"/></h3>
        <div class="form-group">
            <label class="col-sm-2" for="userValue"><f:translate key="LLL:EXT:escort_login/Resources/Private/Language/locallang.xlf:module.account.user_value"/></label>
            <div class="col-sm-10">
                <input class="form-control" id="userValue" name="tx_escortlogin_web_escortloginescortlogin[userValue]" value="{account.user}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="passValue"><f:translate key="LLL:EXT:escort_login/Resources/Private/Language/locallang.xlf:module.account.pass_value"/></label>
            <div class="col-sm-10">
                <input class="form-control" id="passValue" name="tx_escortlogin_web_escortloginescortlogin[passValue]" value="{account.pass}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button class="btn btn-primary" name="tx_escortlogin_web_escortloginescortlogin[submit]" type="submit" value="1"><f:translate key="module.aliases.edit.submit"/></button>
            </div>
        </div>
    </form>

</f:section>